@media (max-width:440px) {
body{
  overflow-x: hidden;
}
  #intro{
    margin-top: 3rem;
    .introright{
      transform: scale(.6) translateX(-4rem) translateY(-3rem);
      img:nth-child(4){
        position: absolute;
        transform: translateX(-3rem) scale(.5)!important;
        top: -25%;
      }
      .floatingDiv{
        transform: translateY(2rem) translateX(6rem);
      }
    }
    .introname {
      span:nth-child(1){
        font-size: 1.5rem !important;
        font-weight: 500;
        font-family: cursive;
      } 
      span:nth-child(2){
        font-size: 2rem !important;
        font-weight: 500;
        font-family: cursive;
        font-weight: bold;
      }
      .introbtn{
        margin:  0px;
      }
      }
      .introicon{
        display: flex;
        justify-content: center;
       
      }
  }
  .AboutContainer{
    width: 100%;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
    .aboutinnerchild{
      margin-top: 2rem;
    }
  }
 
  .Worksright{
    width: 100% !important;
    transform:scale(.6) !important;
  }
   //Footer Start

    .contactdetails{
      position: absolute;
      top: 48%;
      transform: translateX(-1rem);
    a{
      font-size: 1rem;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    ul{ 
      span{
       font-size: 1.5rem !important;
      }
    }
  }
  //Footer end
}